  /* loader */

    .preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background: #9bb1ff;
      z-index: 1001;
    }

    .preloader__image {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 2s infinite linear;
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    .loaded_hiding .preloader {
      transition: 1s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }


 /* body */

.overwolf-img {
  transition: transform .2s;
}
.overwolf-img:hover { 
  transform: scale(1.2);
 }
.bold {
  font-weight: 900;
}
.btn {
  background-color: #f1ffc4;
  border-radius: 12px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 20px;
  color: black;
}
.btn:hover {
  background-color: #eef4ed;
  color: black;
}

.community {
  text-align: center;
}
.numbers {
  color: red;
  font-weight: 900;
}
.row {
  padding-top: 2rem;
}

body {
  margin: 0;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 17px;
  background: black;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.button {
  background: none;
  color: white;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.whywe {
  border: 1px solid red;
  border-bottom: 5px solid red;
  padding: 2rem;
  padding-top: 7rem;
  background-repeat: no-repeat;
  width: 100%;
}
.col-lg-4 {
  padding-bottom: 3rem;
}
@media (min-aspect-ratio: 16/9) {
    #myVideo {
        min-width: 100%;
        min-height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #myVideo { 
        max-width: auto;
        max-height: 100%;
    }
}
.card {
  background-color: black;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 50%;
  width: 200px;
  position: center;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
}



 /* register style */
     #window {
         width: 350px;
         height: 530px;
         margin: 40px auto;
         background: #fff;
         border: 1px solid #fff;
         border-radius: 15px;
         z-index: 150;
         position: fixed;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         opacity: 0; 
         transition: opacity 0.5s 0.2s;
     }
     .close {
         display: inline-block;
         margin: 10px 0 0 320px;
         cursor: pointer;
         background: #fff;
         padding: 0;
         font-size: 20px;
     }
     .close:hover {
         background:#ccc ;
     }
     .form {
         width: 275px;
         margin: -15px auto 20px auto;
         text-align: center;
     }
     .input {
         width: 260px;
         padding: 5px;
         margin-bottom: 10px;
     }
     .radio {
         margin-bottom: 10px;
     }
     #shadow {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 4;
      background: #000;
      opacity: 0.5;
      left: 0;
      top: 0;
     }



.glow {
  font-size: 80px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #002ee6, 0 0 40px #002ee6, 0 0 50px #002ee6, 0 0 60px #002ee6, 0 0 70px #002ee6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #504dff, 0 0 40px #504dff, 0 0 50px #504dff, 0 0 60px #504dff, 0 0 70px #504dff, 0 0 80px #504dff;
  }
}